.h2 Customer Success Management READMEs
Listed in alphabetical order by path name to the readme file
- pages.each do |page|
  %ul
    %li 
      = link_to page.data.title+" ("+page.data.job+")", "/" + page.path
